.side{
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
    /* padding-top: 20px; */
}
.notnav{
    display: inline-flex;
    flex-direction: row;
    /* background-color: grey; */
    width: 100%;
}